[submodule "contactPage"]
	path = contactPage
	url = git@github.com:yelo-contrib/SilverStripe-ContactPage.git
[submodule "categories"]
	path = categories
	url = git@github.com:yelo-contrib/SilverStripe-Categories.git
