@media (max-width: 900px){
	#Content{
		width:100%;
	}
	#Main{
		width: 98%;
		padding-right: 1%;
		padding-left: 1%;
	}
	#Navigation{
		height:160px;
	}
	.item{
		.Title{
			width:auto;
		}
		.Category{
			font-size:14px;
		}
	}
}

@media (max-width: 500px){
	#Content{
		p,h1{
			width:100%;
		}
	}
	.item.link{
		.URL{
			display:none;
		}
	}
}
