@require 'reset';
@require 'mixins';
@require 'variables';

.js .js-hide{display: none;}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:sans-serif;
	margin:0;
	padding:0;
	background-color:#CCC;
	color:#222;
}

html.js{
	background-image:url('../images/loading.gif');
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.clear{
	display:block;
	width:100%;
	clear:both;
}

#Wrapper{
	width:100%;
	height:100%;
	overflow:auto;
	margin:0 auto;
	text-align:center;
	background-color:#CCC;
	padding:20px 0 20px 0;
}

#Main{
	width:$websiteWidth;
	margin:0 auto;
	text-align:left;
	background-color:$backColor;
	padding:$mainMargin;
	min-height:500px;
	position:relative;
	box-shadow(0 0 20px rgba(0,0,0,0.2));
}

#Navigation{
	margin:0 auto;
	display:table;
	width:$websiteWidth - ($logoWidth * 2) + 15;
	height:($logoHeight - 4);
	position:relative;
	margin-bottom:20px;
	ul{
		margin:0 auto;
		padding:0;
		list-style:none;
		clear:both;
		height:20px;
		text-align:left;
		display:table-row;
		width:100%;
		position:absolute;
		bottom:0;
	}
	li{
		display:inline-block;
		padding:0 9px 0 9px;
		margin:0;
		border-right:1px solid $linksColor;
		&:first-child,&.first{padding-left:0;}
		&:last-child,&.last{border-right:none;}
	}
	a{
		display:block;
		height:16px;
		text-decoration:none;
		color:linksColor;
		padding:3px;
		border-bottom:1px solid transparent;
		&.active,&:active,&:hover, &.current{
			border-color:$linksColor;
		}
		&:visited{
			color:$linksColor;
		}
	}
}

#Header{
	width:$logoWidth;
	height:$logoHeight;
	display:block;
	background:$blackColor;
	float:right;
	position:absolute;
	right:0;
	padding:0;
	top:10px;
	background:url(../images/logo.png) 50% 50% no-repeat;
	overflow:hidden;
	text-indent:-9999px;
}

#Content{
	position:relative;
	top:$mainMargin;
	width:$websiteWidth;
	float:left;
	clear:both;
	padding-bottom:$mainMargin;
	h1,>p,form{
		width:$websiteWidth - ($logoWidth * 2);
		margin:0 auto ($mainMargin * 6) auto;
	}
	h1{
		color:#555;
	}
	p{
		a{
			text-decoration:underline;
		}
	}
}

#ListHeader{
	height:20px;
	margin-bottom:10px;
	border-bottom:1px solid #999;
	.filter{
		transition(all,200ms,0);
		@extend .noOutline;
		display:block;
		float:left;
		color:#666;
		&.date{
			width:$sideColumnWidth;
		}
		&.title{
			width:$middleColumnWidth;
		}
		&.category{
			float:right;
		}
		&.active{
			padding-left:20px;
			color:#555;
			background:url(../images/order-asc.png) 0 50% no-repeat;
			&.date{
				width:($sideColumnWidth - 20);
			}
			&.title{
				width:($middleColumnWidth - 20);
			}
			&.desc{
				background-image:url(../images/order-desc.png);
			}
		}
	}
}

form{
	fieldset{
		border:none;
	}
	input,textarea{
		margin-top:10px;
		border:1px solid #ccc;
	}
	.field{
		margin-top:15px;
		width:400px;
		input,textarea{
			width:396px;
		}
	}
	.Actions{
		margin-left:12px;
	}
	.message{
		font-size:14px;
		background:#990000;
		color:#fdfdfd;
		margin-bottom:10px;
		padding:3px;
	}
	em{
		color:#990000;
	}
}

@import 'typography.styl';
@import 'items.styl';
@import 'scroll';
