
.typography{

	font-family:$mainFont;
	
	h1,h2,h3,h4{
		font-family:$titlesFont;
		letter-spacing:2px;
		color:titlesColor;
	}

	h1{
		font-size:180%;
	}

	a{
		color: $linksColor;
		text-decoration:none;
		&:visited{
			color:$linksColor;
		}
	}

}
