$mainColor = #222;
$backColor= #FDFDFD;
$linksColor = #333;
$titlesColor = #111111;
$secondaryColor = #CCC;
$mainFont = 'Ubuntu','Helvetica Neue',verdana, sans-serif;
//'Quicksand', 'Molengo', 'Walkway Bold', 'Kartika', 
$titlesFont = $mainFont;
$mainMargin = 10px;
$websiteWidth = 900px;
$logoHeight = 100px;
$logoWidth = 200px;
$middleColumnWidth = $websiteWidth - ($logoWidth * 2);
$sideColumnWidth = ($websiteWidth - $middleColumnWidth) / 2;
$headerShift = $logoHeight + ($mainMargin * 2);
$itemClosedHeight = 30px;
$itemOpenHeight = 670px;
$itemArticleHeightOpen = 500px;
$closeIconSize = 25px;
$imagesMargin = 200px;
$imagesHeight = 350px;
$imagesThumbnailsBorderWidth = 3px;
$imagesThumbnailsBorderColor = #990000;
$imagesThumbnailSize = 50px;
$itemLinkHeight = $mainMargin * 4;
$itemArticleHeight = $mainMargin * 3;
